# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env (NE JAMAIS PUSH)
.env
.env.local
.env*.local

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
